.menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #FFFFFF;
  border: none;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu.horizontal {
  flex-direction: row;
}

.menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  border: none;
}

.menu-row {
  flex: 1;
  width: 100%;
  height: 50%;
  position: relative;
  background: #ffffff;
}


.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #FFFFFF;
  transform: translate3d(0, 0%, 0);
  border: none;
}

.marquee--visible {
  transform: translate3d(0, 0%, 0);
}

.marquee__inner-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  transform: translateX(0);
}

.marquee__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  will-change: transform;
  animation: marquee 50s linear infinite;
  gap: 2vw;
}

.marquee span {
  color: #060010;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4vh;
  line-height: 1.2;
  padding: 1vh 3vw 0;
  margin-right: 4vw;
}

.marquee__img {
  width: 200px;
  height: 7vh;
  margin: 2em 4vw;
  padding: 1em 0;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
  border: 2px solid #ffffff;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

